<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Pension Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNavDarkDropdown">
            <ul class="navbar nav ">
            <li class="nav-item dropdown ">
                <div *ngIf="loggedIn; else elseBlock">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" 
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="text-white">
                            Welcome {{userName}}
                        </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" *ngIf="loggedIn" routerLink="/pensionerlist" routerLinkActive="bg-light text-dark fw-bold">Pensioner List</a>
                            </li>
                            <li>
                              <a class="dropdown-item" *ngIf="loggedIn" routerLink="/disbursePension" routerLinkActive="bg-light text-dark fw-bold">Transaction List</a>
                            </li>
                            <li>
                                <a class="dropdown-item" *ngIf="loggedIn" routerLink="/pensionCalculation" routerLinkActive="bg-light text-dark fw-bold">Calculate Pension</a>
                            </li>

                            <li><a class="dropdown-item" (click)="logoutUser()">Logout</a></li>
                        </ul>
                </div>
<ng-template #elseBlock><a class="btn text-white mx-4" routerLink="/login">Please Login</a></ng-template>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>